.place-card-container {
  width: 300px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  background-color: #c2c2c2;
}
.place-card-container:hover {
  background: #c2c2c2;
}
.place-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.place-card-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.place-card-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.place-card-text1 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
@media(max-width: 767px) {
  .place-card-container {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .place-card-container {
    width: 300px;
  }
}

.photo-cabane-rhum-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.photo-cabane-rhum-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
  background-color: #c2c2c2;
}
.photo-cabane-rhum-cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.photo-cabane-rhum-component {
  text-decoration: none;
}
.photo-cabane-rhum-component1 {
  text-decoration: none;
}
.photo-cabane-rhum-component2 {
  text-decoration: none;
}
.photo-cabane-rhum-component3 {
  text-decoration: none;
}
.photo-cabane-rhum-component4 {
  text-decoration: none;
}
.photo-cabane-rhum-component5 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .photo-cabane-rhum-cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .photo-cabane-rhum-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
